<div fxFlex="50%" fxFlex.gt-sm="75%">
  <form [formGroup]="userForm" class="form mt-4" (submit)="search()">
    <div class="form-group">
      <label for="userName">Username</label>
      <input id="userName" formControlName="userName" #userNameInput class="rounded form-control" type="search"
        placeholder="Github username" autofocus>
      <small *ngIf="userForm.get('userName').errors?.required && userForm.get('userName').touched"
        class="text-danger d-block mt-2">
        User name is required!
      </small>
    </div>
    <button [disabled]="userForm.invalid" type="submit" class="btn btn-block">
      <span *ngIf="!loading">Buscar</span>
      <app-loading *ngIf="loading"></app-loading>
    </button>
  </form>
</div>